@media (min-width: 767px) {
  .my-nav {
    display: none !important;
  }
}
.my-nav {
  text-align: center !important;
  border: 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}
.my-nav li {
  border-bottom: 1px solid black;
}
.my-nav li:last-child {
  border-bottom: none;
}
.my-main {
  text-align: center;
}
.my-h1 {
  text-align: center;
  font-weight: bold;
}

.my-text {
  background-color: #ababab;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .my-text {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.my-h2 {
  padding: 20px 0;
}

.my-p {
  padding-bottom: 20px;
}
